  <p style="margin-bottom: 3em;">
      <img src = "/img/kickstart-image-small.png" style = "float: left; border: 0; padding-right: 1em; width: 90px; height: 126px"><br/>
   <span style="background: orange; color: white; font-weight: bold; border-radius: 4px; padding: 2px; padding-left: 5px; padding-right: 5px">New!</span> We have published a new book: <strong><em><a href="/products/business-analysis/business-analysis-navigator">A Navigator to Business Analysis</a></em></strong>.<br/>Over 400 pages of practical, useful material will help you build your skills and advance your career! <a href="/products/business-analysis/business-analysis-navigator">Find out more and get free excerpt</a>.
      
      <!--<em>Keen to learn powerful BA techniques &amp; be more effective in your work?</em><br/>We've created laser focused self-paced training &amp; helpful resources for you.<br/><a href = "/products">Boost your skills &#10145;</a>-->
  </p>

  <hr/>
  <p style="margin-top: 1em; margin-bottom: 1em;">
    <form action="https://www.getdrip.com/forms/25382125/submissions" method="post" data-drip-embedded-form="25382125">
      <h3 data-drip-attribute="headline">Get helpful BA articles in your inbox</h3>
      <div data-drip-attribute="description" style="color: #565656; font-size: smallerr">Get notified about blog posts by email (and very occasionally, we may let you know about discounts and specials).</div>
        <div>
            <input type="text"  placeholder="Name" name="fields[name]" value="" class="dripInput" />
        </div>
        <div>
            <input type="email" placeholder="Email address" name="fields[email]" value="" class="dripInput" />
        </div>
      <div>
        <input type="submit" class="orange-button" name="submit" value="Send me helpful BA articles!" data-drip-attribute="sign-up-button" />
      </div>
    </form>      
  </p>
