  <p><img src = "/img/kickstart-image-small.png" style = "float: left; border: 0; padding-right: 1em; width: 90px; height: 126px"><br/>
   <span style="background: orange; color: white; font-weight: bold; border-radius: 4px; padding: 2px; padding-left: 5px; padding-right: 5px">New!</span> We have published a new book: <strong><em><a href="/products/business-analysis/business-analysis-navigator">A Navigator to Business Analysis</a></em></strong>.<br/>Over 400 pages of practical, useful material will help you build your skills and advance your career! <a href="/products/business-analysis/business-analysis-navigator">Find out more and get free excerpt</a>.
      
      <!--<em>Keen to learn powerful BA techniques &amp; be more effective in your work?</em><br/>We've created laser focused self-paced training &amp; helpful resources for you.<br/><a href = "/products">Boost your skills &#10145;</a>-->
  </p>
